.ask-question-box
  a(href='http://stackoverflow.com/questions/ask' class='ask-question-btn' target='_blank') Ask Question

  h3.search-title Search
  form.form-horizontal.search-form(method="GET")
    .form-group
      label.col-sm-3.control-label Word
      .col-sm-9
        input.form-control(type="q")
    .form-group
      label.col-sm-3.control-label Sort by
      .col-sm-9
        input.form-control(type="sort")
    .form-group
      label.col-sm-3.control-label Title
      .col-sm-9
        input.form-control(type="title")
    .form-group
      label.col-sm-3.control-label User ID
      .col-sm-9
        input.form-control(type="user")
    .form-group
      label.col-sm-3.control-label From date
      .col-sm-9
        input.form-control(type="fromdate")
    .form-group
      label.col-sm-3.control-label To date
      .col-sm-9
        input.form-control(type="todate")
    .form-group
      label.col-sm-3.control-label Body
      .col-sm-9
        input.form-control(type="body")
    .form-group
      label.col-sm-3.control-label Tagged
      .col-sm-9
        input.form-control(type="tagged")
    .form-group
      label.col-sm-3.control-label Not tagged
      .col-sm-9
        input.form-control(type="nottagged")
    .form-group
      label.col-sm-3.control-label Min views
      .col-sm-9
        input.form-control(type="views")
    .form-group
      label.col-sm-3.control-label Order by
      .col-sm-9
        input.form-control(type="order")
    .form-group
      label.col-sm-3.control-label Accepted answer
      .col-sm-9
        input.form-control(type="accepted")
    .form-group
      label.col-sm-3.control-label Min answers
      .col-sm-9
        input.form-control(type="answers" placeholder="answers")
      
    p.text-right
      button.btn.btn-primary(type="submit") Search »