footer
  .container.text-center
    p.pull-left © 2016 Neung Viriyadamrongkij. 
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Neungzad/cu-thesis' target='_blank') GitHub Project
